.clones {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 50% 50%;
	@media (max-width: 1100px) {
		grid-template-columns: 50%;
	}
	width: 80%;
	justify-items: center;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
